---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-02.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Los productos que dan <strong>tranquilidad</strong> a tu vida y patrimonio</h2>
			<p class="pb-0 text-lg">
				Ofrecemos soluciones de ahorro y protección patrimonial. Te asesoramos para estructurar opciones financieras acordes a tus objetivos y a tu situación actual de forma que no sacrifiques tu estilo de vida actual.			
			</p>
		</Col>
	</Row>
	<Row>

		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Plan de Retiro"
				subtitle="Te ofrecemos Planes Personales de Retiro (PPR) de marcas líderes reconocidas y te acompañamos para elegir la opción que mejor se adapta a tus necesidades y estilo de vida."
				image={feature01}
				link="/plan-personal-de-retiro"
			/>
			<Card
				title="Fondo de Ahorro"
				subtitle="With our integrated chat platform share updates, files, and messages in a secure and user-friendly environment."
				image={feature03}
				link="/features"
			/>
		</Col>
		
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Fideicomiso Educativo"
				subtitle="Stay on top of your tasks and deadlines with our intuitive project management tool. "
				image={feature02}
				link="/features"
			/>
			<Card
				title="Blindaje Empresarial"
				subtitle="With our integrated chat platform share updates, files, and messages in a secure and user-friendly environment."
				image={feature03}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Fondo de Ahorro para Mujeres"
				subtitle="Build and nurture customer relationships with our powerful CRM system. "
				image={feature04}
				link="/fondo-de-ahorro-para-mujeres"
			/>
			<Card
				title="Consultoría Financiera"
				subtitle="Streamline your billing process with our easy-to-use invoicing tool. Create, send, and track invoices effortlessly."
				image={feature05}
				link="/features"
			/>
		</Col>
	</Row>
</Section>
